.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
box-shadow: 5px 5px 5px gray;
font-weight: bold;
color: black;
}

.note
{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: black;
font-size: 20px;
}

.copy_right_footer
{
position: fixed;
color: black;
bottom: 0;
width: 100%;
background-color: rgb(55, 61, 90);
line-height: 3;
font-weight: 700;
}

.canvas 
{
border: 5px solid white;
border: 20px;
box-shadow: 5px 5px 5px grey;
}